main {
    border: 5px solid blue;
    display: flex;
    height: 100vh;
}

aside {
    border: 2px solid black;
    width: 25vw;
}

.main-content {
    border: 5px solid yellow;
    width: 75vw;
}


